<div id="index">
  <%for(i=0;i<locals.categories.length;i++){%>
    <section id="<%=locals.categories[i]%>" class="index-category"><%=locals.categories[i]%>    </section>
    <div class="index-article-container">
      <%for(j=0;j<articles.length;j++){if(articles[j].category === locals.categories[i]){%>
        <div class="index-article" style="order:-<%=articles[j].meta.upvotes%>">
          <a href="/article/view/<%=articles[j]._id%>"><%=articles[j].title%></a>
        </div>
      <%}}%>
    </div>
  <%}%>
</div>
