<!-- New Article Form -->

<form action="/article" method="post">
  <!--
  Title: String
  Body: String
  Tags: [String, String, etc.] :: these should be checkboxes and more should be added if custom is defined
  -->
    <div class="form-group">
      <h3>Title:</h3>
        <input type="text" class="form-control" name="article[title]" placeholder="Title"/>
      <h4>Content:</h4>
        <textarea name="article[body]" rows="10" cols="60" placeholder="Content"></textarea>
      </br>

      <!-- Categories -->
      <h5>Categories</h5>
        <%for(i=0;i<categories.length;i++){%>
          <input type="radio" name="article[category]" id="radio<%=i%>" value="<%=categories[i]%>"/>
          <label for="radio<%=i%>"><%=categories[i]%></label>
        <%}%>
      <!-- Categories END -->

      <!-- Tags -->
      <h5>Tags</h5>
        <%for(i=0;i<tags.length;i++){%>
          <input type="checkbox" name="article[tags]" id="tags<%=i%>" value="<%=tags[i]%>"/>
          <label for="tags<%=i%>"><%=tags[i]%></label>
        <%}%>
        <!-- <input type="text" class="form-control" name="article[tags][]" placeholder="Custom Tag"/> -->
      <!-- Tags END -->

    </div>
  </br>
  <input type="submit"/>
</form>
