<section class="talkcontainer">
  <div id="published">
    <figure>
      <span><%=published.title%></span>
      </br>
      <span><a href="/user/view/<%=published.authorId%>"><%=published.author%></a></span>
      </br>
      <span><%=published.date%></span>
      </br>
      <span><%=published.category%></span>
      </br>
      <span><%=published.tags.join(", ")%></span>
      </br>
      </br>
      <span><%=published.body%></span>
      </br>
      </br>
    </figure>
  </div>
  <div id="edited" class="hidden">
    <figure>
      <span><%=edited.editedArticle.title%></span>
      </br>
      <span><a href="/user/view/<%=edited.editorId%>"><%=edited.editor%></a></span>
      </br>
      <span><%=edited.editedArticle.date%></span>
      </br>
      <span><%=edited.editedArticle.category%></span>
      </br>
      <span><%=edited.editedArticle.tags.join(", ")%></span>
      </br>
      </br>
      <span><%=edited.editedArticle.body%></span>
      </br>
      </br>
    </figure>
  </div>
</section>

  <form action="/article/talk/<%=published._id%>" method="post">
    <section id="votebox">

        <input type="radio" name="vote" id="vote-published" value="published"/>
        <label for="vote-published" id="vpl"><%=published.meta.upvotes%></label>

        <input type="submit" value="Vote"/>

        <input type="radio" name="vote" id="vote-edited" value="edited"/>
        <label for="vote-edited" id="ved"><%=edited.meta.upvotes%></label>
    </section>
  </form>
</br>

<section id="comments">
  <div class="comment-clicker">Write a Comment?</div>
    <div class="hidden-comment">
      <form action="/article/talk/comment/<%=published._id%>" method="post">
        <textarea name="comment[body]" rows="4" cols="60" placeholder="Comment"></textarea>
        <input type="submit" value="Post"/>
      </form>
    </div>
  <%for(i=0;i<published.comments.length && i<5;i++){%>
    <div class="comment">
      <span><%=published.comments[i].author%></span>
      <span><%=published.comments[i].date%></span>
      <span><%=published.comments[i].body%></span>
    </div>
  <%}%>
</section>

<script src="/scripts/talk.js"></script>
