
<h2>Title: <%=article.title%></h2>
<h3>Author: <%=article.author%></h3>


<h4>Contents:</h4>
<h5><%=article.body%></h5>
</br>



<h5>Category: <%=article.category%></h5>
<h5>Tag(s): <%=article.tags.join(", ")%></h5>
