
<h2>Title: <%=article.title%></h2>
<h3>Author: <%=article.author%></h3>


<h4>Contents:</h4>
</br>
<h4><%=article.body%></h4>



<h5>Category: <%=article.category%></h5>
<h5>Tag(s): <%=article.tags%></h5>
